.splash-container {
  height: 100vh;
  width: 100%;
  background: linear-gradient(to right, #f8fcff, #ffffff);
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-box {
  text-align: center;
}

.logo {
  font-size: 50px;
  margin-bottom: 10px;
}

h1 {
  font-size: 32px;
  margin: 0;
}

p {
  color: gray;
  font-size: 14px;
  letter-spacing: 1px;
  margin-top: 5px;
}

.loader {
  width: 60px;
  height: 3px;
  background: #e0e0e0;
  margin: 25px auto 0;
  position: relative;
  overflow: hidden;
}

.loader::before {
  content: "";
  width: 30px;
  height: 3px;
  background: #3b82f6;
  position: absolute;
  animation: loading 1.5s infinite;
}

@keyframes loading {
  from {
    left: -30px;
  }
  to {
    left: 60px;
  }
}
